@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: oklch(100% 0 0deg);
    --foreground: oklch(14.5% 0 0deg);
    --card: oklch(100% 0 0deg);
    --card-foreground: oklch(14.5% 0 0deg);
    --popover: oklch(100% 0 0deg);
    --popover-foreground: oklch(14.5% 0 0deg);
    --primary: oklch(20.5% 0 0deg);
    --primary-foreground: oklch(98.5% 0 0deg);
    --secondary: oklch(97% 0 0deg);
    --secondary-foreground: oklch(20.5% 0 0deg);
    --muted: oklch(97% 0 0deg);
    --muted-foreground: oklch(55.6% 0 0deg);
    --accent: oklch(97% 0 0deg);
    --accent-foreground: oklch(20.5% 0 0deg);
    --destructive: oklch(57.7% 0.245 27.325deg);
    --border: oklch(92.2% 0 0deg);
    --input: oklch(92.2% 0 0deg);
    --ring: oklch(70.8% 0 0deg);
    --chart-1: oklch(87% 0 0deg);
    --chart-2: oklch(55.6% 0 0deg);
    --chart-3: oklch(43.9% 0 0deg);
    --chart-4: oklch(37.1% 0 0deg);
    --chart-5: oklch(26.9% 0 0deg);
    --radius: 0.5rem;
    --sidebar: oklch(98.5% 0 0deg);
    --sidebar-foreground: oklch(14.5% 0 0deg);
    --sidebar-primary: oklch(20.5% 0 0deg);
    --sidebar-primary-foreground: oklch(98.5% 0 0deg);
    --sidebar-accent: oklch(97% 0 0deg);
    --sidebar-accent-foreground: oklch(20.5% 0 0deg);
    --sidebar-border: oklch(92.2% 0 0deg);
    --sidebar-ring: oklch(70.8% 0 0deg);
  }

  .dark {
    --background: oklch(14.5% 0 0deg);
    --foreground: oklch(98.5% 0 0deg);
    --card: oklch(20.5% 0 0deg);
    --card-foreground: oklch(98.5% 0 0deg);
    --popover: oklch(20.5% 0 0deg);
    --popover-foreground: oklch(98.5% 0 0deg);
    --primary: oklch(92.2% 0 0deg);
    --primary-foreground: oklch(20.5% 0 0deg);
    --secondary: oklch(26.9% 0 0deg);
    --secondary-foreground: oklch(98.5% 0 0deg);
    --muted: oklch(26.9% 0 0deg);
    --muted-foreground: oklch(70.8% 0 0deg);
    --accent: oklch(26.9% 0 0deg);
    --accent-foreground: oklch(98.5% 0 0deg);
    --destructive: oklch(70.4% 0.191 22.216deg);
    --border: oklch(100% 0 0deg / 10%);
    --input: oklch(100% 0 0deg / 15%);
    --ring: oklch(55.6% 0 0deg);
    --chart-1: oklch(87% 0 0deg);
    --chart-2: oklch(55.6% 0 0deg);
    --chart-3: oklch(43.9% 0 0deg);
    --chart-4: oklch(37.1% 0 0deg);
    --chart-5: oklch(26.9% 0 0deg);
    --sidebar: oklch(20.5% 0 0deg);
    --sidebar-foreground: oklch(98.5% 0 0deg);
    --sidebar-primary: oklch(48.8% 0.243 264.376deg);
    --sidebar-primary-foreground: oklch(98.5% 0 0deg);
    --sidebar-accent: oklch(26.9% 0 0deg);
    --sidebar-accent-foreground: oklch(98.5% 0 0deg);
    --sidebar-border: oklch(100% 0 0deg / 10%);
    --sidebar-ring: oklch(55.6% 0 0deg);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.tiptap {
  img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    max-width: 100%;

    &.prose-mirror-selected-node {
      outline: 3px solid var(--primary);
    }
  }

  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;

    td,
    th {
      border: 1px solid black;
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: #c7c7c7;
      font-weight: bold;
      text-align: left;
    }

    .selected-cell::after {
      background: #767677;
      content: "";
      inset: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: var(--primary);
      bottom: -2px;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
    }
  }

  .table-wrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
  }

  ul li {
    list-style-type: disc;

    p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ol li {
    list-style-type: decimal;

    p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
      align-items: flex-start;
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }

    ul[data-type="taskList"] {
      margin: 0;
    }
  }

  a {
    color: rgb(49 49 156);
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: rgb(75 75 249);
    }
  }
}
